In [161]:
# Question 1
import pandas as pd

score = [
    [83, 92, 71],
    [81, 73, 66],
    [87, 85, 79],
    [93, 87, 88],
    [85, 96, 83],
    [77, 82, 88],
    [65, 67, 65],
    [75, 82, 91],
    [75, 68, 84],
    [86, 86, 96]
    ]

In [162]:
#1. Create DataFrames using  dictionary, tuple list and list of dictionaries. 
# dictionary

score_dic = { 
    'Mid_1': [83, 81, 87, 93, 85, 77, 65, 75, 75, 86],
    'Mid_2': [92, 73, 85, 87, 96, 82, 67, 82, 68, 86],
    'Final': [71, 66, 79, 88, 83, 88, 65, 91, 84, 96] }

df_dic = pd.DataFrame(score_dic)
print ('dictionary:', "\n",df_dic)

# tuple

score_tup = [
    score[0],
    score[1],
    score[2],
    score[3],
    score[4],
    score[5],
    score[6],
    score[7],
    score[8],
    score[9]
]

df_tup = pd.DataFrame (data=score_tup, columns= ['Mid_1', 'Mid_2', 'Final'] )
print ('tuple:', "\n",df_tup)


# list of dictionaries

score_lod = [
    {'Mid_1':83, 'Mid_2': 92,'Final': 71 },
    {'Mid_1':81, 'Mid_2': 73,'Final': 66 },
    {'Mid_1':87, 'Mid_2': 85,'Final': 79 },
    {'Mid_1':93, 'Mid_2': 87,'Final': 88 },
    {'Mid_1':85, 'Mid_2': 96,'Final': 83 },
    {'Mid_1':77, 'Mid_2': 82,'Final': 88 },
    {'Mid_1':65, 'Mid_2': 67,'Final': 65 },
    {'Mid_1':75, 'Mid_2': 82,'Final': 91 },
    {'Mid_1':75, 'Mid_2': 68,'Final': 84 },
    {'Mid_1':86, 'Mid_2': 86,'Final': 96 },
    ]
   

df_lod = pd.DataFrame (data=score_lod, columns=['Mid_1', 'Mid_2', 'Final'])
print ('list of dictionaries', "\n", df_lod)

dictionary:
    Mid_1  Mid_2  Final
0     83     92     71
1     81     73     66
2     87     85     79
3     93     87     88
4     85     96     83
5     77     82     88
6     65     67     65
7     75     82     91
8     75     68     84
9     86     86     96
tuple:
    Mid_1  Mid_2  Final
0     83     92     71
1     81     73     66
2     87     85     79
3     93     87     88
4     85     96     83
5     77     82     88
6     65     67     65
7     75     82     91
8     75     68     84
9     86     86     96
list of dictionaries
    Mid_1  Mid_2  Final
0     83     92     71
1     81     73     66
2     87     85     79
3     93     87     88
4     85     96     83
5     77     82     88
6     65     67     65
7     75     82     91
8     75     68     84
9     86     86     96

In [163]:
# 2. Write the Dataframe in both csv and xlxs files. 
df_lod.to_csv (r'D:\Morgan\COSC502\hw_2.csv',index=False)
df_tup.to_excel (r'D:\Morgan\COSC502\hw_2.xlsx',index=False)

In [164]:
# 3. Read the csv and xlxs files again (created in previous step) as a Dataframe object.  
df_csv = pd.read_csv (r'D:\Morgan\COSC502\hw_2.csv')
df_excel = pd.read_excel (r'D:\Morgan\COSC502\hw_2.xlsx')
print (df_csv)

   Mid_1  Mid_2  Final
0     83     92     71
1     81     73     66
2     87     85     79
3     93     87     88
4     85     96     83
5     77     82     88
6     65     67     65
7     75     82     91
8     75     68     84
9     86     86     96

In [165]:
# 4. Calculate the average of the grades in each column and each row.  
print ('Mean column:')
print (df_csv.mean (axis=0))

print ('Mean row:')
print (df_csv.mean (axis=1))

Mean column:
Mid_1    80.7
Mid_2    81.8
Final    81.1
dtype: float64
Mean row:
0    82.000000
1    73.333333
2    83.666667
3    89.333333
4    88.000000
5    82.333333
6    65.666667
7    82.666667
8    75.666667
9    89.333333
dtype: float64

In [166]:
# 5.  Calculate the maximum and minimum scores for Midterm1, Midterm 2 and Final. 
print ('Max:')
print (df_csv.max())

print ('Min:')
print (df_csv.min())

Max:
Mid_1    93
Mid_2    96
Final    96
dtype: int64
Min:
Mid_1    65
Mid_2    67
Final    65
dtype: int64

In [167]:
# 6. Calculate the average of the grade of the first two and last two students.  
print ('First 2')
print (df_csv.head(2).mean(axis=1))

print ('Last 2')
print (df_csv.tail(2).mean(axis=1))

First 2
0    82.000000
1    73.333333
dtype: float64
Last 2
8    75.666667
9    89.333333
dtype: float64

In [168]:
# 7.  Calculate the average of Midterm 1 and Midterm 2 grades of the first 10 students.  

print (df_csv.iloc[0:10,0:2].mean(axis=1))

0    87.5
1    77.0
2    86.0
3    90.0
4    90.5
5    79.5
6    66.0
7    78.5
8    71.5
9    86.0
dtype: float64

In [169]:
# 8. Change any score <70 to 70 and calculate the average of the grades in Midterm1 and Final only for every alternate student. 
df_8 = df_csv.loc [(df_csv['Mid_1']<70) | (df_csv['Mid_2']<70) | (df_csv['Final']<70)] 

df_8.loc [df_8['Mid_1']<70,'Mid_1'] =70
df_8.loc [df_8['Mid_2']<70,'Mid_2'] =70
df_8.loc [df_8['Final']<70,'Final'] =70

print ("Mid_1")
print (df_8.mean(axis=0)[0])

print ("Final")
print (df_8.mean(axis=0)[2])

Mid_1
75.33333333333333
Final
74.66666666666667

C:\Users\try\AppData\Local\Temp\ipykernel_8012\1830199215.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_8.loc [df_8['Mid_1']<70,'Mid_1'] =70
C:\Users\try\AppData\Local\Temp\ipykernel_8012\1830199215.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_8.loc [df_8['Mid_2']<70,'Mid_2'] =70
C:\Users\try\AppData\Local\Temp\ipykernel_8012\1830199215.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_8.loc [df_8['Final']<70,'Final'] =70

In [184]:
# 9. Print the table (DataFrame) and show the statistics both exam and student wise. 
print (df_csv)

print ('For exam')
print (df_csv.describe())

print ('For student')
print (df_csv.apply(pd.DataFrame.describe,axis=1))

   Mid_1  Mid_2  Final
0     83     92     71
1     81     73     66
2     87     85     79
3     93     87     88
4     85     96     83
5     77     82     88
6     65     67     65
7     75     82     91
8     75     68     84
9     86     86     96
For exam
           Mid_1      Mid_2      Final
count  10.000000  10.000000  10.000000
mean   80.700000  81.800000  81.100000
std     7.944949   9.704524  10.650509
min    65.000000  67.000000  65.000000
25%    75.500000  75.250000  73.000000
50%    82.000000  83.500000  83.500000
75%    85.750000  86.750000  88.000000
max    93.000000  96.000000  96.000000
For student
   count       mean        std   min   25%   50%   75%   max
0    3.0  82.000000  10.535654  71.0  77.0  83.0  87.5  92.0
1    3.0  73.333333   7.505553  66.0  69.5  73.0  77.0  81.0
2    3.0  83.666667   4.163332  79.0  82.0  85.0  86.0  87.0
3    3.0  89.333333   3.214550  87.0  87.5  88.0  90.5  93.0
4    3.0  88.000000   7.000000  83.0  84.0  85.0  90.5  96.0
5    3.0  82.333333   5.507571  77.0  79.5  82.0  85.0  88.0
6    3.0  65.666667   1.154701  65.0  65.0  65.0  66.0  67.0
7    3.0  82.666667   8.020806  75.0  78.5  82.0  86.5  91.0
8    3.0  75.666667   8.020806  68.0  71.5  75.0  79.5  84.0
9    3.0  89.333333   5.773503  86.0  86.0  86.0  91.0  96.0

In [200]:
# 10. Print the student who has the highest score in the Final and student who has the highest total score (Mid 1+ Mid2 + Final). 
print (df_csv.idxmax())

print ('Final')
print (df_csv.loc[9])

print ('Total')
print (df_csv.loc[df_csv.sum(axis=1).idxmax()])

Mid_1    3
Mid_2    4
Final    9
dtype: int64
Final
Mid_1    86
Mid_2    86
Final    96
Name: 9, dtype: int64
Total
Mid_1    93
Mid_2    87
Final    88
Name: 3, dtype: int64

In [ ]:
# Question 2