In [2]:
import pandas as pd

# Q1
# a) Read the csv file (Housing.csv in Canvas) in Pandas Dataframe

url = url = 'https://github.com/lc0312/COSC502/blob/main/Housing.csv?raw=true'
house_df = pd.read_csv(url)
house_df.head(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [34]:
# b) Store price as an dependent variable (Y) and area, bedrooms, bathrooms, stories, and furnishingstatus as independent variables (X)

Y_data = house_df['price']
X_data = house_df[['area','bedrooms','bathrooms','stories','furnishingstatus']]

X_dummies = pd.get_dummies (X_data.furnishingstatus) # create dummies for furnishingstatus

X_data = pd.concat ([X_data, X_dummies], axis='columns')  # add dummies to dataframe
X_data = X_data.drop(columns = 'furnishingstatus') # delete old furnishingstatus

print (X_data.head(5))

   area  bedrooms  bathrooms  stories  furnished  semi-furnished  unfurnished
0  7420         4          2        3          1               0            0
1  8960         4          4        4          1               0            0
2  9960         3          2        2          0               1            0
3  7500         4          2        2          1               0            0
4  7420         4          1        2          1               0            0

In [32]:
# c) Create a training (80%) and test set (20%) from the above dataset.
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split (X_data.values, Y_data.values, test_size=0.2)

In [33]:
# d) Use sklearn library to perform Regression in the training dataset.
from sklearn import linear_model

regres = linear_model.LinearRegression()
regres.fit (X_train, Y_train)

print ('Intercept:', regres.intercept_)
print ('Coefficients:', regres.coef_)

Intercept: -169594.86584354937
Coefficients: [ 3.54951872e+02  2.10555425e+05  1.20843226e+06  5.17678755e+05
  3.50112047e+05  1.00609602e+05 -4.50721650e+05]

In [39]:
# e) Predict the price of a house with following: area = 4850 square feet, bedrooms = 3 bathrooms =3, stories =2 and semi-furnished.


print ('Price is:', regres.predict([[4850,3,3,2,0,1,0]])) # use those number for X test

Price is: [6944851.86609389]

In [ ]:
# f) Predict the prices of all the houses in the test set and compare the predicted values and actual values (you may generate a side-by-side graph for first 10 test samples)